<div class="center jumbotron">
  <h1>Welcome to the Sugisutagram</h1>

  <h2>
   This page is an Instagram copy page created by Sugiyama.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class= "cafeimage">
<%= image_tag("p602.jpg") %>
</div>
